@import './base.css';

.imagen{
    background-image: url(../../public/UPQROO.ico);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 5rem;
}