@import './base.css';
.imagen {
    background-image: url(../../public/Logo\ UPQROO.ico);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 5rem;
}
table{
    width: 100%;
    display: block;
    overflow-x: auto;
    text-align: center;
}

.contenedor{
    max-height: 70vh;
    overflow-x: auto;
}

.slide-enter-active, .slide-leave-active {
    transition: 1s;
  }
  
  .slide-enter, .slide-leave-to {
    transform: translateX(-40%);
    opacity: 0;
  }